.dub
docs.json
__dummy.html
docs/
/uploader
uploader.so
uploader.dylib
uploader.dll
uploader.a
uploader.lib
uploader-test-*
filesharing
filesharing-*
dub.selections.json
source/config.d
*.exe
*.pdb
*.o
*.obj
*.lst
